body {
  font-family: monospace;
  background-color: #2f74c0;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 5px;
  grid-auto-flow: row;
  margin: 3rem;
  padding: 1rem;
}

h1 {
  margin: 1rem;
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  color: aqua;
  font-weight: lighter;
}

img {
  max-height: 150px;
  animation: pulse 3s;
}

footer {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

ul > li {
  display: inline-block;
  font-size: 2vw;
  color: aliceblue;
  animation: fadeIn 2s;
}

form .grid-item {
  font-size: xx-large;
  border-radius: 3%;
  box-shadow: 0.5px 0.5px 0px 1px rgb(35, 37, 40);
  background-color: whitesmoke;
}

form .grid-item:hover {
  background-color: skyblue;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-left: 1rem;
}

.correct {
  color: greenyellow;
  background-color: rgba(96, 233, 245, 0.329);
}

.incorrect {
  color: rgb(247, 93, 76);
}

#menu {
  background-color: #004bad;
  border-radius: 5%;
  border: rgb(35, 37, 40) 1px solid;
  color: white;
}

#menu:hover {
  background-color: aqua;
  border-radius: 5%;
  color: black;
}

#stats {
  font-size: xx-large;
  color: aqua;
}

#stars {
  font-size: xx-large;
}

#xp {
  color: white;
  font-size: xx-large;
  margin: 0;
}

.spinning {
  animation: spin 2s;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
