body {
  font-family: monospace;
  background-color: #2f74c0;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 1rem;
  color: white;
  font-size: 60px;
}

img {
  max-height: 200px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

ul > li {
  display: inline-block;
  font-size: 30px;
  color: aliceblue;
}

.container {
  padding-left: 1rem;
}

.correct {
  color: greenyellow;
}

.incorrect {
  color: rgb(247, 93, 76);
}

#stats {
  font-size: xx-large;
  color: aqua;
}
